*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.container{
    width: 100%;
}
.navbar{
    display: flex;
    align-items: center;
  padding:1rem 1rem 1rem 5rem;
   font-size: 0.8rem;
}
.logo img{
    height: 30px;
    width: 90px;
}
.list{
    display: flex;
    color: #908e8e;
    list-style-type: none;
    justify-content: space-evenly;
     width: 500px;
}
.list li:hover{
    color: black;
    font-weight: 700;
}
.nav-button{
margin-left: 35rem;
background-color: #5955b3;
color: white;
width: 100px;
height: 35px;
border-radius: 10px;
}
.hero-container{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.left-text{
    height: 400px;
    width: 30%;
    text-align: left;
    margin: 5rem 0rem 0rem 5rem;
}
.hero-heading{
    font-size: 65px;
    color: #3c2f60;
}
.hero-heading span{
    color: #5955b3;
}
.hero-para{
    margin-top: 1rem;
    font-size: 0.8rem;
    color: #908e8e;
}
.hero-button{
    background-color:#5955b3;
    width: 150px;
    margin-top: 4rem;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 5px;
    color: #ffffff;

}
.hero-image{
    height: 550px;
  width: 60%;
    position: absolute;
    top: 5rem;
    right: 0px;
}


